body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    margin: 0%;
}
#top-banner{
    background-image: linear-gradient(rgba(77, 77, 77, 0.185), rgba(0, 0, 0, 0.836)), url(images/donation9.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 700px;
    width: 1500px;
    padding: 10%;
}
#top-banner h1{
text-align: center;
color: white;
margin: 0%;
font-size: 85px;
padding: 10px;
}
#top-banner p{
    color: white;
    margin: 0%;
    text-align: center;
    font-size: 30px;
}
.top-bannerp{
    padding-top: 5%;
}
.donate-button{
    color: white;
    text-decoration: none;
    background-color: #FF5959;
    padding: 20px 40px;
    border-radius: 10px;
    font-size: 20px;
}
.button{
    text-align: center;
    padding-top: 50px;
}
#mid-text{
    text-align: center;
   margin: 0%;
}
#mid-text h1{
    font-size: 60px;
}
#mid-text p1{
    font-size: 20px;
}
.mid-textp{
    text-align: center;
    width: 45%;
    padding-left: 27%;
}
#money{
    font-size: 40px;
    display: flex;
    font-weight: bolder;
    justify-content: space-between;
    width: 65%;
    padding-left: 17%;
    padding-top: 2%;

}
.non-ammount{
    color: #575757;
    background-color: #FAFAFA;
}
.giv-ammount1{
    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 15px;
    color: #FF5959;
    padding-inline: 70px;
}